
@{
    ViewBag.Title = "Add";
}

<h2>新建订单</h2>

<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-share font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Portlet Tabs</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_base" data-toggle="tab" aria-expanded="true"> 基本信息 </a>
            </li>
            <li class="">
                <a href="#tab_trip" data-toggle="tab" aria-expanded="false"> 行程信息 </a>
            </li>
            <li class="">
                <a href="#tab_car" data-toggle="tab" aria-expanded="false"> 包车信息 </a>
            </li>
            <li class="">
                <a href="#tab_hotel" data-toggle="tab" aria-expanded="false"> 住宿信息 </a>
            </li>
            <li class="">
                <a href="#tab_airport" data-toggle="tab" aria-expanded="false"> 接送机服务 </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane" id="tab_base">
                <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. </p>
                <div class="alert alert-warning">
                    <p>
                        There is a known issue where the dropdown menu appears to be a clipping if it placed in tabbed content. By far there is no flaxible fix for this issue as per discussion here:
                        <a target="_blank" href="https://github.com/twitter/bootstrap/issues/3661">
                            https://github.com/twitter/bootstrap/issues/3661
                        </a>
                    </p>
                    <p> But you can check out the below dropdown menu. Don't worry it won't get chopped out by the tab content. Instead it will be opened as dropup menu </p>
                </div>
                <div class="btn-group">
                    <a class="btn purple" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-user"></i> Settings
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu bottom-up">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-trash-o"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-times"></i> Delete
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:;"> Full Settings </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="tab_trip">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                </p>
                <p>
                    <a class="btn red" href="ui_tabs_accordions_navs.html#portlet_tab2" target="_blank"> Activate this tab via URL </a>
                </p>
            </div>
            <div class="tab-pane active" id="tab_car">
                <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                    vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                </p>
                <p>
                    <a class="btn blue" href="ui_tabs_accordions_navs.html#portlet_tab3" target="_blank"> Activate this tab via URL </a>
                </p>
            </div>
            <div class="tab-pane " id="tab_hotel">
                aaa
            </div>
            <div class="tab-pane " id="tab_airport">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">行程名称:</label>
                        <div class="col-md-7">
                            <input id="trip_name" name="trip_name" type="text" class="form-control" value="" placeholder="请输入行程名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">客户姓名:</label>
                        <div class="col-md-7">
                            <input id="customer_name" name="customer_name" type="text" class="form-control" value="" placeholder="请输入客户姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">行程天数:</label>
                        <div class="col-md-7">
                            <input id="trip_days" name="trip_days" type="text" class="form-control" value="1" placeholder="请输入行程天数" onchange="if(/\D/.test(this.value)){alert('只能输入不小于1的数字');this.value='1';">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">行程日期:</label>
                        <div class="col-md-7">
                            <input id="trip_date" name="trip_date" type="text" class="form-control" value="" placeholder="请选择行程日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">预估费用:</label>
                        <div class="col-md-7">
                            <input id="trip_price" name="trip_price" type="text" class="form-control" value="0" placeholder="请输入预估费用" onchange="if(/\D/.test(this.value)){alert('只能输入不小于0的数字');this.value='0';}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">游客人数:</label>
                        <div class="col-md-7">
                            <input id="customer_count" name="customer_count" type="text" class="form-control" value="0" placeholder="请输入游客人数" onchange="if(/\D/.test(this.value)){alert('只能输入不小于0的数字');this.value='0';}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">定制要求:</label>
                        <div class="col-md-7">
                            <textarea class="form-control" id="custom_require" name="custom_require" rows="3" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">备注:</label>
                        <div class="col-md-7">
                            <textarea class="form-control" id="remark" name="remark" rows="3" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</div>